// variables

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$bg-lightgrey: #f6f6f6;
$bg-locationgrey: #EAEAEA;

$text-darkgrey: #353535;

// Mixin
@mixin primary-button {  
    width: auto;
    padding: 15px 20px;
    background: linear-gradient(180deg, $secondary-color -40%, $primary-color 120%);
    border-radius: 35px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 2px 10px 1.2px darkgrey;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover{
        box-shadow: 0px 2px 15px 2px darkgrey;
        filter: brightness(110%);
        font-weight: 700;
        transition: all 0.3s ease 0s;
    }
}

/*** COMMON RULES ***/
* {
    font-family: "Roboto", sans-serif;
  }
    
  html {
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    justify-content: center;
    margin: 0;
    width:100%;
  }

  .homepage, .page {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $bg-lightgrey;
  }
  