/*** HOMEPAGE ***/
 .homepage {
    
    .header__nav--back{
      display: none;
    }
    .location{
        display: static;
    }
} 
/*** RESTAURANT PAGE ***/
/* .restaurantpage {
    
    .header__nav--back{
      display: static;
    }
    .location{
        display: none;
    }
} 
*/

.presentation{
    background-color: $bg-lightgrey;
}

/*  INTRO  */
.intro{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__title{
        margin: 0;
        padding: 40px 50px 0;
    }

    &__baseline{
        margin: 10px 0 20px;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 300;
    }

    &__button{
        @include primary-button;        
        margin: 10px auto 50px;
    }
}

/* FONCTIONNEMENT */
.HowItWorks{
    padding: 35px 10px 35px 20px;
    text-align: left;
    background-color: white;    

    &__title{
        margin: 15px 0 5px;
    }
    &__list {  
        display: flex;
        justify-content: center;
        flex-flow: column;      
        margin: 0;
        padding: 0 10px;
        list-style: none; 
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        

        @include respond-to('desktop') {
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 0 auto;
            
            li{
            width: 26%;
            }
        }
        
        li {
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 15px 0;            
            padding: 24px 15px 24px 20px;
            background-color: $bg-lightgrey;
            border-radius: 20px;
            box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
            counter-increment: li;

            i {
                padding: 0 20px;
                font-size: 1.1em;
                color: #7e7e7e;
                &.fa-highlight{
                    color: $primary-color;
                }
            }

            &::before {
                content: counter(li);                
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                margin-left: -32px;
                background-color: $primary-color;
                border-radius: 100%;
                font-size: .8em;
                color: white;

            }
        }
    }
}

/* RESTAURANTS */
.restaurants{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0 15px 50px;

    &__title{
        margin: 50px 20px 5px;
    }

    .card-wrap{
        width: 100%; 
        margin: 15px auto 35px; 

        @include respond-to('pad') {
            width: 48%;
        }
        
        .card-container{
            margin-top: 0;
            width: 100%;
            
            
            .card{
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 15px; 
                box-shadow: 0px 0px 6px 0px rgba(200, 200, 200, 0.1);
                
                &__new{
                    position: absolute;
                    margin-top: 15px;
                    margin-left: calc(100% - 125px);
                    padding: 6px 13px;
                    background-color: $tertiary-color;
                    color: $text-green;
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 2px;
                    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
                    
                    @include respond-to('pad') {
                        margin-left: calc(48% - 120px);
                    }
                    @include respond-to('widescreen') {
                        margin-left: 530px;
                    }
                }
    

                img {
                    height: 175px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    object-fit: cover;
                }     

                &__content {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    padding-left: 15px;
                    color: black;
                    
                    .infos{
                        display: block;
                        margin: 20px 0;
                    }
                    .name {
                        line-height: 26px;
                        margin: 0;
                    }
                    .city{
                        font-size: 17px;
                        font-weight: 300;
                        margin: 0;
                    }
                }
                       
            }
            
        }     
    } 
    
}


.homepage .favorite{
    margin-top: -75px;
    margin-left: calc(100% - 70px);
    @include favorite-heart;
}
