/*** HOMEPAGE ***/

.homepage, .restaurants {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    background-color: $bg-lightgrey;
  }

.section1{
    background: $primary-color;
}

.section2{
    background: $secondary-color;
}