
@mixin animated_list{

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
        animation: animated_list-item $i*200+200ms $i*200ms ease-out backwards;
    }
  }
  
  @keyframes animated_list-item {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin animated_arrow{
    animation: animated_arrow-item 500ms 4000ms ease-out backwards;
    
    @keyframes animated_arrow-item {
        0% {
          transform: translateX(30px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
}