/* LOADER */

.loader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(246, 246, 246, 1);
    animation: loader-container 2800ms 500ms forwards;

    &__head{
        width: 100%;
        height: 62px;
        background: white url("../images/logo/ohmyfood@2x.svg") center 20px no-repeat;
        background-size: 162px;
        opacity: 0.6;
        animation: loader-head-fadeout 2600ms ease-in-out forwards;
            
        @include respond-to('pad') {
            height: 68px;
            background-size: 200px;
        }      
    }    

    &__progress{
        width: 100%;
        height: 3px;
        top: 0;
        background: linear-gradient(90deg, $primary-color -40%, $secondary-color 120%);
        animation: loader-bar-fadeout 800ms 2600ms forwards;

        &::after{
            content: " ";
            position:absolute;
            z-index: 10;
            width: 100%;
            height: 3px;
            top: 62px;
            background: $bg-lightgrey;
            animation: loader-bar 2s 600ms forwards;
            transform-origin: right;            
            
        @include respond-to('pad') {
            top: 68px;
        }      
    
        }
    }
}

@keyframes loader-container {
    80% {
        background: rgba(246, 246, 246, 1);
    }
    99% {
        transform: scale(1);
        background: rgba(246, 246, 246, 0.3);
    }
    100% {
        transform: translateY(500px) scale(0);
        background: rgba(246, 246, 246, 0);
    }
}

@keyframes loader-head-fadeout {
	0% {
        filter: blur(4px);
    }    
	17% {
        filter: blur(2.5px);
    }
	24% {
        filter: blur(2px);
    }
	46% {
        filter: blur(1.5px);
    }
	100% {
        filter: blur(0.3px);
    }
}

@keyframes loader-bar {
	0% {
		transform: scaleX(1);
	}
	17% {
		transform: scaleX(0.88);
		animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
	}
	24% {
		transform: scaleX(0.75);
		animation-timing-function: cubic-bezier(0.3, 0.3, 0.3, 1);
	}
	46% {
		transform: scaleX(0.4);
		animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes loader-bar-fadeout {
	0% {
        opacity: 1;	
    }
	100% {
        opacity: 0;
    }
}

/*.page__content{ 
    overflow-y: hidden;
    height: 0px;
    animation: page-appear 2600ms 0s forwards;
}
@keyframes page-appear {
    99% {
        height: 0px;
    }
    100% {
        height: auto;
    }
} */