/* LOADER */

.loader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(246, 246, 246, 1);
    animation: loader-container 3200ms 600ms forwards;

    &__head{
        width: 100%;
        height: 62px;
        background: white url("../images/logo/ohmyfood@2x.svg") center 20px no-repeat;
        background-size: 162px;
        opacity: 1;
        animation: loader-head-fadeout 3400ms ease-in-out forwards;
            
        @include respond-to('pad') {
            height: 68px;
            background-size: 200px;
        }      
    }    

    &__progress{
        width: 100%;
        height: 3px;
        top: 0;
        margin: 0 auto;
        background: linear-gradient(90deg, $primary-color -40%, $secondary-color 120%);
        animation: loader-fadeout 800ms 2800ms forwards;

        &::after{
            content: " ";
            position:absolute;
            z-index: 10;
            width: 100%;
            height: 3px;
            top: 62px;
            margin: 0 auto;
            background: $bg-lightgrey;
            animation: loader-bar 2800ms 100ms forwards;
            transform-origin: right;            
            
        @include respond-to('pad') {
            top: 68px;
        }      
    
        }
    }
    
    /* COOKING */
    &__cooking {
        position: absolute;
        top: 60px;
        left: calc(50% - 188px);
        width: 322px;
        height: 200px;
        background-color: transparent;
        animation: loader-fadeout 600ms 3000ms forwards;
        
        .bubble {
            font-family: "Shrikhand", sans-serif;
            left: auto;
            font-size: 38px;
            font-weight: 100;
            color: $primary-color;
        }

        .boiling {    
            &__pan {
                position: absolute;
                width: 100%;
                height: 200px;
                background: url('../images/loader/pan.svg') center center no-repeat;
            }
            &__ohmyfood {
                position: absolute;
                font-family: "Shrikhand", sans-serif;
                left: auto;
                font-size: 22px;
                font-weight: 100;
                opacity: 0;

                &:nth-child(1) {
                    margin-top: -90px;
                    left: 180px;
                    animation: evaporation 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
                }
                &:nth-child(2) {
                    margin-top: -84px;
                    left: 160px;
                    animation: evaporation 1.8s ease-in-out .035s infinite;
                }
                &:nth-child(3) {
                    margin-top: -80px;
                    left: 190px;
                    animation: evaporation 1.4s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
                }
                &:nth-child(4) {
                    margin-top: -70px;
                    left: 170px;
                    animation: evaporation 1.9s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
                }
                &:nth-child(5) {
                    margin-top: -90px;
                    left: 180px;
                    animation: evaporation 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
                }
                &:nth-child(6) {
                    margin-top: -75px;
                    left: 150px;
                    animation: evaporation 1.7s ease-in-out .035s infinite;
                }
                &:nth-child(7) {
                    margin-top: -80px;
                    left: 210px;
                    animation: evaporation 1.6s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
                }
                &:nth-child(8) {
                    margin-top: -80px;
                    left: 170px;
                    animation: evaporation 2.8s ease-in-out 1.5s infinite;
                }        
            } 
        }
    }

}

/* LOADER keyframes */

@keyframes loader-container {
    80% {
        background: rgba(246, 246, 246, 1);
    }
    99% {
        transform: scale(1);
        background: rgba(246, 246, 246, 0.3);
    }
    100% {
        transform: translateY(500px) scale(0);
        background: rgba(246, 246, 246, 0);
    }
}

@keyframes loader-head-fadeout {
	0% {
        opacity: 0;
    }    
	33% {
        filter: blur(5px);
        opacity: 0;
    }
	56% {
        filter: blur(4px);
        opacity: 0.1;
    }
	65% {
        filter: blur(2.5px);
        opacity: 0.4;
    }
    99%{
        filter: blur(1px);
        opacity: 0.7;
    }
	100% {
        filter: blur(0.4px);
        opacity: 0;
    }
}

@keyframes loader-bar {
	0% {
		transform: scaleX(1);
	}
	17% {
		transform: scaleX(0.88);
		animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
	}
	24% {
		transform: scaleX(0.75);
		animation-timing-function: cubic-bezier(0.3, 0.3, 0.3, 1);
	}
	46% {
		transform: scaleX(0.4);
		animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes loader-fadeout {
	0% {
        opacity: 1;	
    }
	100% {
        opacity: 0;
    }
}

@keyframes evaporation {
    0% {
      transform: scale(0.1, 0.1);
      top: 80%;
      opacity: 0;
    }
    20% {
      transform: scale(1, 1);
      top: 70%;
      opacity: .6;
    }
    100% {
      transform: scale(2.2, 1.8);
      top: 20%;
      opacity: 0;
    }
}

/* NO SCROLL WHILE LOADING !! */
.page__content{ 
    height: 0px;
    overflow-y: hidden;
    animation: page-appear 3200ms 0s forwards;
}

@keyframes page-appear {
    0% {
        height: 0px;
        overflow-y: hidden;
    }
    99% {
        height: 0px;
        overflow-y: hidden;
    }
    100% {
        height: auto;
        overflow-y: visible;
    }
} 
  