/*** RESTAURANT PAGE ***/
.restaurantpage { 
  
  background: white;
    .header__nav--back{
      display: flex;
  }

  .page-container{      
    background-color: $bg-lightgrey;
    padding: 0 25px;
      
    @include respond-to('desktop') {
      max-width: 1000px;
      margin: 0 auto;
    }
  }    
}

.picture{ 

    &__bg{
      width: 100%; 
      padding-top: 222px; 
      @include restaurant-picture; 

      @include respond-to('desktop') {
        padding-top: 380px;
      }
    } 

    .page-top{            
    background-color: $bg-lightgrey;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 0 25px;
    height: 40px;  

      @include respond-to('desktop') {
        max-width: 1000px;
        margin: 0 auto;
      }
    }
}

.page__intro{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    @include respond-to('pad') {
      max-width: 634px;
      justify-content: center;
      margin: 0 auto;
    }

    &--title{
      font-family: "Shrikhand", sans-serif;
      font-size: 28px;
      font-weight: 100;
      margin: 0;
    }
            
    .favorite{
      position: relative;
      margin: 10px 40px 10px 20px;
      @include favorite-heart;
    }    
}

.menus{
  padding-bottom: 50px;
  
  @include respond-to('pad') {
    max-width: 634px;
    margin: 0 auto;
  }

  &__choices{
    display: flex;
    flex-flow: column nowrap;
  }
 
  &__button{
    @include primary-button;        
    margin: 50px auto 20px;
    border: none;
    cursor: pointer;
  }

  h3{
    text-transform: uppercase;
    font-weight: 300;
    margin: 20px 0 0;
  }

  hr{
    width: 40px;
    height: 3px;
    margin-left: 0;
    border: none;
    background: $tertiary-color;
  }
}